/* General Layout */
* {
  box-sizing: border-box;
  margin: 0;
  color: #F8B195
}

body {
  background-color: #355C7D;
}

header {
  background-color: #F67280;
}

nav {
  background-color: #C06C84;
}

.container {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

li {
  border: black 1px solid;
  display: inline-block;
}
.active{
  background-color:#6C5B7B;
}

main {
  display: flex;
  height: 20em;
  align-items: center;
  justify-content: center;
  background-color: #6C5B7B;
}

.all-courses {
  background-color: pink;
  width: 3em;
  height: 4em;
}

.collections {
  background-color: purple;
  width: 3em;
  height: 4em;
}

.wishlist {
  background-color: red;
  width: 3em;
  height: 4em;
}

button {
  width: 3em;
  background-color: orange;
}
button:hover{
  background-color: green;
}

.archived {
  background-color: blue;
  width: 3em;
  height: 4em;
}
