/* General Layout */
* {
  box-sizing: border-box;
  color: #F8B195;
  margin: 0;
}

body {
  background-color: #355C7D;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #F67280;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

nav {
  background-color: #C06C84;
}

.link-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  font-size: 1.25em;
  cursor: default;
}

.active {
  background-color: #6C5B7B;
}

/* Main portion of Site */
main {
  align-items: center;
  background-color: #6C5B7B;
  display: flex;
  flex-direction: column;
  height: 20em;
  justify-content: center;
}

/*Styling for swapped HTML*/
.all-courses {
  align-items: center;
  background-color: grey;
  display: flex;
  height: 4em;
  justify-content: flex-start;
  padding-left: 2em;
  width: 100%;
}

.collections {
  align-items: center;
  align-self: center;
  background-color: grey;
  display: flex;
  height: 4em;
  justify-content: center;
  width: 40%;
}

.wishlist {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 4em;
  justify-content: center;
  width: 40%;
}

button {
  background-color: purple;
  font-size: 1.2em;
  width: 10em;
}

button:hover {
  background-color: green;
}

.archived {
  align-items: center;
  align-self: center;
  background-color: grey;
  display: flex;
  flex-direction: column;
  height: 4em;
  justify-content: center;
  width: 40%;
}
